body{
    padding: 0px;
    margin: 0px;
    background-color: #FAF7F2;
}
.navbar{
    background-color: #032D6B;
    display: flex;
    width: 100%;
}
.menu-1{
    display: flex;
}
.menu-2{
    display: flex;
    margin-left: 450px;
}
ul{
    list-style: none;
}
li{
    margin: 0px 15px 0px 15px;
    color: white;
    /* font-size: 13px; */
    font-weight: 500;
}
.navbar>ul>li{
    font-size: 13px;
}
.cnLogo{
    margin-left: 40px;
}
.menu-item-1{
    background-color: white;
    padding: 4px 12px 4px 12px;
    border-radius: 25px;
    color: brown;
}
.menu-item-2{
    background-color: white;
    padding: 4px 12px 4px 12px;
    border-radius: 25px;
    color: brown;
}
.fa-2x{
    font-size: 18px;
}
/* .right-menu-icons{
    display: flex;
    margin-left: -40px;
    font-size: 40px;
} */
.sidebar{
    background-color: #0A2541;
    float: left;
    height: 100vh;
    width: 18%;
    margin-top: 0px;
}
.sidebar>ul>li{
    font-size: 18px;
    padding-top: 15px;
}
.sidebar>ul{
    padding-top: 30px;
}
.side-item-1{
    background-color: rgba(240, 248, 255, 0.162);
    padding: 12px 0px 12px 25px;
    margin-left: -55px;
    margin-right: -15px;
    color: red;
}
.side-item-1>i{
    margin-right: 10px;
}
.side-item-2>i{
    margin-right: 10px;
}
.side-item-2{
    /* background-color: rgba(240, 248, 255, 0.162); */
    padding: 12px 0px 12px 25px;
    margin-left: -55px;
    margin-right: -15px;
    margin-top: -10px;
    /* color: red; */
}
.body-content{
    display: flex;
}
.main-content>h2{
    color: #78809A;
    font-weight: 500;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 50px;
}
.course-top{
    display: flex;
}
.course-top>h2{
    font-weight: 500;
    font-size: 23px;
    margin-left: 10px;
    margin-top: 10px;
}
.course-date{
    display: flex;
    margin-left: 80px;
    margin-top: -25px;
}
.course-date>h4{
    font-weight: 300;
    padding-right: 40px;
    font-size: 15px;
}
.course-date>h4>span{
    font-weight: 500;
}
.course{
    background-color: white;
    margin-left: 60px;
    padding: 20px 100px 30px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.386);
    margin-top: 30px;
}
.course>h4{
    margin-left: 80px;
    margin-top: -10px;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 15px;
}
.course>h4>span{
    color: #496EC5;
}
.course>a{
    margin-left: 80px;
    background-color: #FB813E;
    text-decoration: none;
    padding: 8px 25px 8px 25px;
    border-radius: 10px;
    color: white;
    font-weight: 400;
}
.fixed-sidebar{
    background-color: white;
    height: 350px;
    margin-left: 100px;
    margin-right: 40px;
    width: 270px;
    margin-top: 50px;
    padding: 15px 25px 15px 25px;
    border-radius: 12px;
    /* position:fixed; */
}
.fixed-sidebar>h2{
    text-align: center;
    background-color: #032D6B;
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-top: -14px;
    margin-left: -25px;
    margin-right: -25px;
    border-radius: 12px 12px 0 0;
    padding: 10px;
}
.fixed-sidebar>div{
    text-align: center;
}
.fixed-sidebar>h4{
    color: #A49BA0;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
